@font-face {
  font-family: 'MyFont';
  src: url('./IDAutomationHC39M.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello  {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
}

.hello img {
  width: 162px;
  height: 119px;
}